{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Liste des patients</h2>

    {% if patients %}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for patient in patients %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'patient-profile' username=patient.app_user.user.username %}">{{ patient.name }} {{ patient.surname }}</a></h5>
                <p class="card-text"><strong>Email:</strong> {{ patient.email }}</p>
                <p class="card-text"><strong>Adresse:</strong> {{ patient.address }}</p>
                <div class="d-flex justify-content-end">
                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal{{ patient.app_user.user.username }}">Modifier</a>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ patient.app_user.user.username }}">
                    Supprimer
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="confirmDeleteModal{{patient.app_user.user.username }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ patient.app_user.user.username }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmDeleteModalLabel{{ patient.app_user.user.username }}">Confirmation de suppression</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Voulez-vous vraiment supprimer le patient "{{ patient.name }} {{ patient.surname }}" ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                          <a href="{% url 'patient-delete' username=patient.app_user.user.username %}" class="btn btn-danger">Confirmer</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        <!-- update modal -->
<div class="modal fade" id="updateModal{{ patient.username }}" tabindex="-1" aria-labelledby="updateModalLabel{{ patient.username }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel{{ patient.username }}">Modifier le patient {{ patient.name }} {{ patient.surname }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="updatePatientForm{{ patient.username }}" method="post" action="{% url 'patient-update' username=patient.app_user.user.username %}">
          {% csrf_token %}
          <label for="id_name">Nom :</label>
          <input type="text" id="id_name" name="name" value="{{ patient.name }}" required>
          <br>
          <label for="id_surname">Prénom :</label>
          <input type="text" id="id_surname" name="surname" value="{{ patient.surname }}" required>
          <br>
          <label for="id_email">Email :</label>
          <input type="email" id="id_email" name="email" value="{{ patient.email }}" required>
          <br>
          <label for="id_address">Adresse :</label>
          <textarea id="id_address" name="address" required>{{ patient.address.address }}</textarea>
          <br>
          <label for="id_postal_code">Code postal :</label>
          <input type="text" id="id_postal_code" name="postal_code" value="{{ patient.address.postal_code }}" required>
          <br>
          <label for="id_city">Ville :</label>
          <input type="text" id="id_city" name="city" value="{{ patient.address.city }}" required>
          <br>
          <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </form>
      </div>
    </div>
  </div>
</div>


        {% endfor %}
      </div>

<div class="pagination">
    <span class="step-links">
      {% if patients.has_previous %}
        <a href="?page=1">&laquo; Début</a>
        <a href="?page={{ patients.previous_page_number }}">Précédent</a>
      {% endif %}

      <span class="current">
        Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
      </span>

      {% if patients.has_next %}
        <a href="?page={{ patients.next_page_number }}">Suivant</a>
        <a href="?page={{ patients.paginator.num_pages }}">Dernier &raquo;</a>
      {% endif %}
    </span>
  </div>
    {% else %}
      <p>Aucun patient.</p>
    {% endif %}

    <!-- Create modal -->
<div class="modal fade" id="createPatientModal" tabindex="-1" aria-labelledby="createPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPatientModalLabel">Ajouter un patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createPatientForm" method="post" action="{% url 'patient-create' %}">
          {% csrf_token %}
          <label for="id_name">Nom :</label>
          <input type="text" id="id_name" name="name" required>
          <br>
          <label for="id_surname">Prénom :</label>
          <input type="text" id="id_surname" name="surname" required>
          <br>
          <label for="id_email">Email :</label>
          <input type="email" id="id_email" name="email" required>
          <br>
          <label for="id_address">Adresse :</label>
          <textarea id="id_address" name="address" required></textarea>
          <br>
          <label for="id_postal_code">Code postal :</label>
          <input type="text" id="id_postal_code" name="postal_code" required>
          <br>
          <label for="id_city">Ville :</label>
          <input type="text" id="id_city" name="city" required>
          <br>
          <button type="submit" class="btn btn-primary">Ajouter le patient</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <div class="mt-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createPatientModal">Ajouter un patient</button>
    </div>
  </div>
{% endblock %}